<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Injera Web Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1> Injera Recipe </h1>
<h1> Ethiopia </h1>
<img src="img/injera.jpg" alt="This is injera"/>
<img src="img/eflag.jpg" alt="This is the Ethiopian flag"/>

<div class="container">
    <div class="row">
        <div class="col-3">

            <h2> Ingredients: </h2>

            <ul>

                <li>¾ cup teff flour (found in health food shops)</li>
                <li>3½ cups water</li>
                <li>pinch of salt</li>

            </ul>
        </div>
        <div class="col-7">
            <h2> Directions: </h2>
            <p>
                Standing time 2 days.<br/><br/>

                Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.<br/><br/>

                The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.<br/><br/>

                Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.<br/><br/>

                Do not let it brown, and make sure that it is not too thick.<br/></p></div>

    </div>
    </div>
</div>

</body>
</html>